{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container mx-auto my-5 w-50">

        <button href="{{ path('app_app')}}" class="btn btn-secondary mb-5">retour</button>

        <h1>Veuillez vous connecter</h1>

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            <div class="mb-3">
                <label for="inputEmail" class="form-label required">Mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label required">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" class="mb-1"> Se rappeller
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>

    </div>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

{% endblock %}
